<div class="educ-experiences">
    <h1>Education</h1>
    <div class="edu-container">
        <div *ngFor="let work of educationExperience">
            <div class="information-container">
                <div class="fecha-ubicacion">
                    <p class="work_fecha">{{work.fecha}}</p>
                    <p class="work_location">{{work.ubicacion}}</p>
                </div>
                <p class="puesto">{{work.puesto}}</p>
                <p class="empresa">{{work.empresa}}</p>
            </div>
        </div>
    </div>
</div>