/* Estilos generales para la sección de experiencias laborales */
.educ-experiences {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    box-sizing: border-box;
    background-color: #2D2D23;
}

/* Estilo del título */
.educ-experiences h1 {
    font-family: Kalnia;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #EA3925;
}

/* Contenedor de los trabajos */
.edu-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

/* Contenedor de cada trabajo */
.information-container {
    width: 250px;
    border-radius: 5px;
    margin: 10px; 
    padding: 15px; 
    background-color: #EA3925;
}

/* Estilos para la fecha y ubicación */
.fecha-ubicacion {
    display: flex;
    justify-content: space-between;
}

.work_fecha, .work_location {
    font-family: 'Heebo';
    font-weight: bold;
    font-size: 1em;
    color: #1e1f19;
}

/* Estilo del puesto y empresa */
.puesto {
    font-family: Kalnia;
    font-size: 1.1em;
    font-weight: bold;
    color: #f5b53e;
}

.empresa {
    font-size: 1em;
    font-family: Kalnia;
    font-weight: bold;
    color: #F2BA52;
}

/* Responsividad */
@media (max-width: 768px) {
    .works {
        width: 100%; 
        margin: 10px 0; 
    }

}