.interests {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px;
  box-sizing: border-box;
  background-color: #2D2D23;
  }
  
  .interests h1{
    font-family: Kalnia;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 15px;
    color: #f5b53e;
  }
  
  .interests_items {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
  }
  
  .items{
    width: 20%; 
    border-radius: 10px; 
    margin: 5px; 
    padding: 5px; 
    background-color: #F2BA52;
    font-family: 'Heebo';
    font-weight: bold;
    font-size: 1em;
    color: #1e1f19;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
  }