/* Contenedor principal de las habilidades */
.skills-experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: #2D2D23;
}

/* Título de la sección */
.skills-experiences h1 {
  font-family: Kalnia;
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #f5b53e;
}

/* Contenedor de cada habilidad */
.skill-container {
  width: 200%;
  max-width: 500px;
  margin-bottom: 20.5px;
}

/* Descripción de la habilidad */
.skill-description {
  font-family: 'Heebo';
  font-weight: bold;
  font-size: 1em;
  color: #f5b53e;
  margin-bottom: 5px;
}

/* Barra de progreso interna */
.progress {
  height: 100%;
  background-color: #db311e;
  text-align: right;
  padding-right: 10px;
  color: #db311e;
  font-weight: bold;
}

/* Responsividad */
@media (max-width: 768px) {
  .skill-container {
    width: 90%;
  }
}
