/* Estilo general para la sección de lenguajes */
.lenguages {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    box-sizing: border-box;
    background-color: #2D2D23;
}

/* Estilo del título */
.lenguages h1 {
    font-family: Kalnia;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 15px;
    color: #f5b53e;
}

/* Contenedor de los elementos de lenguajes */
.lenguages_items {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    justify-content: center; 
    padding: 10px; 
}

/* Estilo de cada lenguaje */
.item {
    display: flex; 
    align-items: center; 
    position: relative; 
    font-family: 'Heebo';
    font-size: 1em;
    padding: 5px 10px; 
    color: #2D2D23;
    background-color: #EA3925;
    border-radius: 5px; 
}

/* Cuadro antes de cada elemento de lenguaje */
.item::before {
    content: ""; 
    display: inline-block; 
    width: 10px; 
    height: 10px;
    background-color: #f5b53e; 
    margin-right: 10px; 
    border-radius: 2px; 
}

/* Responsividad */
@media (max-width: 768px) {
    .item {
        font-size: 14px; 
        padding: 5px;
    }
}