/* Estilos generales para la sección de experiencias laborales */
.work-experiences {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    box-sizing: border-box;
    background-color: #2D2D23;
}

/* Estilo del título */
.work-experiences h1 {
    font-family: Kalnia;
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 20px;
    color: #EA3925;
}

/* Contenedor de los trabajos */
.works-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; /* Centrar los elementos en el contenedor */
}

/* Contenedor de cada trabajo */
.works {
    width: 200px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: #EA3925;
}

/* Estilos para la fecha y ubicación */
.fecha-ubicacion {
    display: flex;
    justify-content: space-between;
}

.work_fecha, .work_location {
    font-family: 'Heebo';
    font-weight: bold;
    font-size: 1em;
    color: #1e1f19;
}

/* Estilo del puesto y empresa */
.puesto {
    font-family: Kalnia;
    font-size: 1.1em;
    font-weight: bold;
    color: #f5b53e;
    line-height: .9;
}

.empresa {
    font-size: 1em;
    font-family: Kalnia;
    font-weight: bold;
    color: #F2BA52;
}

/* Estilo de los logros */
h3 {
    margin-top: 5px;
    font-size: 1.1em;
    color:#1e1f19;
}

ul {
    padding-left: 20px;
}

li {
    font-family: 'Heebo';
    font-size: 0.95em;
    color: #1e1f19;
}

/* Responsividad */
@media (max-width: 768px) {
    .works {
        width: 100%; /* Ancho completo en pantallas pequeñas */
        margin: 10px 0; /* Espaciado vertical en móviles */
    }

}
